In [1]:
import pandas as pd

In [3]:
df_global = pd.read_csv("global_salary.csv")
df_salary = pd.read_csv("Salary_Data.csv")

In [6]:
df_global.isnull().sum()

country_name      0
continent_name    0
wage_span         0
median_salary     0
average_salary    0
lowest_salary     0
highest_salary    0
dtype: int64

In [5]:
df_salary.isnull().sum()

Age                    2
Gender                 2
Education Level        3
Job Title              2
Years of Experience    3
Salary                 5
dtype: int64

In [7]:
df_salary.dropna(inplace=True)

In [9]:
df_salary.duplicated().sum()

4911

In [10]:
df_global.duplicated().sum()

0

In [11]:
df_salary.drop_duplicates(inplace=True)

In [12]:
df_salary.duplicated().sum()

0